# 安装时，package.json 中 保存精确的版本号，不使用 ^ 或 ~ 等模糊匹配
save-exact=true
# CI 环境强制使用 frozen-lockfile (pnpm 严格按照 lockfile 安装依赖)
frozen-lockfile=true

# 安装时，将 @ant-design 的所有依赖都提升到根目录下（解决依赖的依赖无法 import 的问题）
public-hoist-pattern[]=*@ant-design*
# 或者直接将所有依赖都提升到根目录下
# shamefully-hoist=true